<link rel="stylesheet" href="/public/style.css" type="text/css" /> 

<div class="center">One Word Movie Search</div> 
<div class="center"><p><form action="/movies/search" method="POST">
  <input style="width: 200px" type="text" name="one_word" placeholder="Enter word here, dude!" />
  <input type="submit" value="Search" />
</form></p></div>
 